body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    background-image: url(imgs/pexels-mads-thomsen-2739013.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav
{
    z-index: 6;
    background-color: rgba(2, 2, 2, 0.795);
}

.logo
{
    height: 45px !important;
    width: 160px !important;
}

.navs ul li a
{
    color: rgb(249, 247, 247) !important;
    margin: 0 10px;
}

.navs .sit
{
    width: 50%;
}

.navbar
{
    padding: 20px;
}

.bg-overlay
{
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.31);
}

.nav-item a i
{
    font-size: 22px;
}

ul li
{
    position: relative;
    transition: 0.4s;
}

ul li::after
{
    content: '';
    position: absolute;
    transition: 0.4s;
    width: 0%;
    height: 2px;
    left: 15%;
}

ul li:hover::after
{
    content: '';
    position: absolute;
    width: 70%;
    height: 2px;
    left: 15%;
    background-color: white;
}

.profile-picture{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 50%;
    transform: translate(10%,-120%);
    border-radius: 50%;
    overflow: hidden;
}
.profile-page{
    margin: 20px;
}
.edit-profile{
    margin: 50px;
    background-color: white;
    border-radius: 10px;
    display:flex;
    align-items:center ;
    padding: 20px;
}
@media(max-width)
{
    .edit-profile{
        flex-direction: column;
    }
}
.profile-pic{
    width: 300px;
    text-align: center;
    padding: 20px;;
}
@media(min-width: 768px){
    .profile-pic{
        border-right: 1px solid #eee;
    }
}
.profile-pic h3{
    margin: 0px;
    color: #0d7399;
}
.pic{
    margin-bottom: 10px;
    border-radius: 80%;
    width: 100%;
    height: 100%;
}
#file{
   display: none; 
}
#uploadpic{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 12px;
    cursor: pointer;
}
/*info stylling*/
.box{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid#9b9898;
    transition: 0.3s;
}
.box :hover{
    background-color: #f6f6f6;
}
#box4{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid#9b9898;
}
#box4 div{
    width: fit-content;

}
#box4 button{
    margin-left: 50%;
    padding: 5px 10px ;
    width: 150px;
    background-color: #0d7399;
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    border: 4px double white;
    transition: all 0.5s;
}
#bttn{
    margin-left: 50%;
    padding: 5px 10px ;
    width: 150px;
    background-color: #0d7399;
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    border: 4px double white;
    transition: all 0.5s;
}
#bttn2 :hover{
    background-color: red;
}

.box h4{
    color: #0f80ac;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    width: 100%;
    padding: 10px 0 0;
}
#box4 h4{
    color: #0f80ac;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    width: 100%;
    padding: 10px 0 0;
}
#box4 div{
    font-size: 14px;
    min-width: 250px;
    padding: 10px 0 0;
}
.box div{
    font-size: 14px;
    min-width: 250px;
    padding: 10px 0 0;
}
.box span{
    color: #6b6868;
}
.info input{
    background-color: white;
    border: 2px groove transparent;
    color: #0d7399;
    border-radius: 5px;
}
#payment{
    border: 2px groove #0d7399;
    border-radius: 5px;
}


* {
padding: 0;
margin: 0;
font-family:sans-serif;
}
ul {
list-style: none;
background: #333;
text-align: center;
}
ul li {
display: inline-block;
position: relative;
}
ul li a {
display: block;
padding: 20px 25px;
color: #FFF;
text-decoration: none;
text-align: center;
font-size: 16px;
}
ul li ul.dropdown li {
display: block;
background: #333;
margin: 2px 0px;
}
ul li ul.dropdown {
width:auto;
background: #0d7399;
position: absolute;
z-index: 999;
display: none;
}
ul li a:hover {
background: #222;
}
ul li:hover ul.dropdown{
display: block;
}


.receipt-options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.print-button {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #0f80ac;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
}


.print-button:hover {
    background-color: #0f80ac;
}